<div
  class="feature"
  {% if include.flip %}
    data-flip
  {% endif %}
>
  <a
    {% if include.link %}
      href="{{ include.link | relative_url }}" 
    {% endif %}
    class="feature-image"
    aria-label="{{ include.title | default: "feature link" }}"
  >
    {% if include.image contains ".mp4" %}
      <video autoplay muted loop playsinline style="width: 100%; height: auto;" loading="lazy">
        <source src="{{ include.image | relative_url }}" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    {% else %}
      <img
        src="{{ include.image | relative_url }}"
        loading="lazy"
        alt="{{ include.title | default: "feature image" }}"
        {% include fallback.html %}
      >
    {% endif %}
  </a>
  <div class="feature-text">
    {% if include.title %}
      <p class="feature-title">{{ include.title }}</p>
    {% endif %}
    {{ include.text | markdownify }}
  </div>
</div>
